@import '~@hg/joy/src/globalstyles/global';

div#root {
  z-index: -100;
}

body {
  background-color: #f9f9f9 !important;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(0, 0, 0, 0.05) 25%,
      rgba(0, 0, 0, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, 0.05) 75%,
      rgba(20, 0, 0, 0.05) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(0, 0, 0, 0.05) 25%,
      rgba(0, 0, 0, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, 0.05) 75%,
      rgba(0, 0, 0, 0.05) 76%,
      transparent 77%,
      transparent
    ) !important;
  background-size: 30px 30px !important;
  margin-top: 30px;

  #root {
    width: 100%;
    color: #666;
  }
}

.story {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.02em;
    line-height: 1.25;
  }
}

.readMe-intro {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
  }

  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e7e7e7;
    border: 0;
  }
}
